{% extends 'base.html' %}

{% block title %}Home - Billing System{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="jumbotron bg-primary text-white p-5 rounded">
            <h1 class="display-4">
                <i class="fas fa-store"></i> Welcome to Billing System
            </h1>
            <p class="lead">Manage your products, process bills, and track purchase history efficiently.</p>
            <hr class="my-4 bg-light">
            <p>Get started by creating a new bill or managing your products and denominations.</p>
            <div class="row mt-4">
                <div class="col-md-4 mb-3">
                    <a class="btn btn-light btn-lg w-100" href="{% url 'billing' %}">
                        <i class="fas fa-calculator"></i><br>
                        Create Bill
                    </a>
                </div>
                <div class="col-md-4 mb-3">
                    <a class="btn btn-outline-light btn-lg w-100" href="{% url 'purchase_history' %}">
                        <i class="fas fa-history"></i><br>
                        Purchase History
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
